/* line 1, ../sass/_globals.scss */
body {
  margin: 0;
}

/* line 5, ../sass/_globals.scss */
.container {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 11, ../sass/_globals.scss */
h1, h2 {
  font-family: "AutopiaBold", Georgia, serif;
}

/* line 15, ../sass/_globals.scss */
h3, h4, h5, h6, p {
  font-family: monospace;
}

/* line 20, ../sass/_globals.scss */
a {
  color: black;
}

/* line 1, ../sass/components/_squares.scss */
.square {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
/* line 13, ../sass/components/_squares.scss */
.square h1, .square h2, .square h3, .square h4, .square h5, .square h6 {
  margin: 0;
  padding: 0;
}
/* line 17, ../sass/components/_squares.scss */
.square h2 {
  padding-bottom: 5px;
}
/* line 20, ../sass/components/_squares.scss */
.square p {
  margin-top: 0;
}
/* line 24, ../sass/components/_squares.scss */
.square .square-content {
  visibility: hidden;
}

/* line 32, ../sass/components/_squares.scss */
.splash-name h1.splash-header {
  color: #FF5A5F;
  margin: 0;
  padding-bottom: 0;
}
/* line 38, ../sass/components/_squares.scss */
.splash-name h1.splash-header a {
  color: #FF5A5F;
  text-decoration: none;
}
/* line 43, ../sass/components/_squares.scss */
.splash-name h3.splash-subheader {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 50px;
}

/* line 53, ../sass/components/_squares.scss */
.nw-resize {
  cursor: nw-resize;
}

/* line 56, ../sass/components/_squares.scss */
.se-resize {
  cursor: se-resize;
}

/* line 62, ../sass/components/_squares.scss */
#music, #video {
  margin-top: -1px;
}

/* line 65, ../sass/components/_squares.scss */
.border-on-top {
  z-index: 15;
}

/* line 9, ../sass/components/_sidebar.scss */
.w-resize {
  cursor: w-resize;
}

/* line 12, ../sass/components/_sidebar.scss */
.e-resize {
  cursor: e-resize;
}

/* line 16, ../sass/components/_sidebar.scss */
.sidebar {
  position: absolute;
  right: 0;
  top: 131px;
  width: 40px;
  height: 467px;
  margin-right: -1px;
  border: 1px solid black;
  overflow: hidden;
}
/* line 26, ../sass/components/_sidebar.scss */
.sidebar .sidebar-header h2 {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 35px;
  margin-left: -15px;
}
/* line 32, ../sass/components/_sidebar.scss */
.sidebar .sidebar-content {
  position: relative;
  top: 80px;
  left: 0;
  padding: 10px;
  visibility: hidden;
}

/* line 41, ../sass/components/_sidebar.scss */
.sidebar-on-top {
  background-color: white;
  z-index: 20;
}
