/* Import Zen Grids */
/* line 1, ../sass/_globals.scss */
body {
  font-family: "Optima", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* line 6, ../sass/_globals.scss */
.container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 12, ../sass/_globals.scss */
a {
  color: #663b3c;
}

/* line 16, ../sass/_globals.scss */
h1, h2, h3, h4, h5 {
  font-family: "Optima", "Gill Sans", Georgia, sans-serif;
}

/* line 1, ../sass/pages/_squares.scss */
.square {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
}
/* line 11, ../sass/pages/_squares.scss */
.square h1, .square h2, .square h3, .square h4, .square h5, .square h6 {
  margin-bottom: 0;
}
/* line 12, ../sass/pages/_squares.scss */
.square h2, .square p {
  margin-top: 0;
}
/* line 13, ../sass/pages/_squares.scss */
.square h4 {
  margin-top: 5px;
}
/* line 15, ../sass/pages/_squares.scss */
.square .square-content {
  visibility: hidden;
  width: 400px;
  height: 400px;
}

/* line 22, ../sass/pages/_squares.scss */
h1.splash-header {
  color: #ff5a5f;
  transform: rotate(-2deg);
  padding-left: 20px;
  margin: none;
}

/* line 30, ../sass/pages/_squares.scss */
.nw-resize {
  cursor: nw-resize;
}

/* line 33, ../sass/pages/_squares.scss */
.se-resize {
  cursor: se-resize;
}

/* line 39, ../sass/pages/_squares.scss */
#music, #video {
  margin-top: -1px;
}

/* line 42, ../sass/pages/_squares.scss */
.border-on-top {
  z-index: 5;
}
