body {
  font-family: "Optima", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  color: $other-primary;
}

h1, h2, h3, h4, h5 {
  font-family: "Optima", "Gill Sans", Georgia, sans-serif;
}
