body {
  margin: 0;
}

.container {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

h1, h2 {
  font-family: "AutopiaBold", Georgia, serif;
}

a {
  // color: $other-primary;
  color: black;
}
