body {
  margin: 0;
}

.container {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

h1, h2 {
  font-family: "Autopia Bold", Georgia, serif;
}

h3, h4, h5, h6, p, ul, li {
  font-family: monospace;
}

a {
  color: black;
}
