$zen-column-count: 10;
$zen-gutter-width: 0px;


/* Zen grids layout */
.container {
  @include zen-grid-container;
  // @include zen-grid-background();
}


#slideshow {
  @include zen-grid-item(10, 1);
  @include our-border();
  // position: relative;
  z-index: 0;
}

.block_a, .block_b {
  @include our-border();
  border-left-style: solid;
  z-index: 3;
  position: relative;
  background: white;
}

.block_a {
  @include zen-grid-item(3, 1, right);
}

.block_b {
  @include zen-clear(right);
  @include zen-grid-item(3, 1, right);
  border-bottom-style: solid;
  padding-left: 20px;
}
