$zen-column-count: 10;
$zen-gutter-width: 0px;


/* Zen grids layout */
.container {
  @include zen-grid-container;
  // @include zen-grid-background();

  // background-color: #666370; // Old browsers
  // @include filter-gradient(#ffffff, #9b7874, horizontal); // IE6-9
  // @include background-image(linear-gradient(right, #ffffff 0%, #99544c 100%));
  // @include background-image(linear-gradient(left, #ffffff 0%, #000000 100%));


  // background: #F4E6E1;

  // background-blend-mode: screen;
  // background-repeat: no-repeat;
  // background-size: cover;
  background: black;
}


#meatballs {
  @include zen-grid-item(10, 1);
  @include our-border();
}

.block_a, .block_b {
  @include our-border();
  border-left-style: solid;
}

.block_a {
  @include zen-grid-item(3, 1, right);
  // border-bottom-style: solid;
  background: white;
  // mix-blend-mode: exclusion;
}

.block_b {
  @include zen-clear(right);
  @include zen-grid-item(3, 1, right);
  border-bottom-style: solid;
  // background: url('../images/ha_giang.jpg');
  background: white;
  // mix-blend-mode: exclusion;
  padding-left: 20px;
}



#hog-heave {
  @include zen-clear();
  @include zen-grid-item(3, 1);
  @include our-border();
  border-left-style: solid;
  border-bottom-style: solid;
}


#trump {
  @include zen-grid-item(3, 8);
  @include our-border();
  border-top-style: solid;
  border-left-style: solid;

}








.footer {
  @include zen-clear(left);
  @include zen-grid-item(2, 1, left, 3, 0px);
  // @include our-border();
  // background: white;
  margin-left: 8px;
  // border-top-style: solid;
  // border-right-style: solid;
}
