/* Zen grids icons layout */
$zen-column-count: 10;
$zen-gutter-width: 5px;




.projects-container {
  @include zen-grid-container;
  // @include zen-grid-background();
}

.project1 {
  @include zen-grid-item(7, 1);
}

.project2 {
  @include zen-grid-item(3, 8);
}

.project3 {
  @include zen-clear();
  @include zen-grid-item(4, 1);
}

.project4 {
  @include zen-grid-item(3, 5);
}

.project5 {
  @include zen-clear();
  @include zen-grid-item(6, 5);
}


.project1 img, .project2 img, .project3 img, .project4 img, .project5 img {
  max-width: 100%;
  max-height: 100%;

}
