// there may be a better way to deal with padding than
// simply overwriting zen's padding but its ok for now

@mixin black-border {
  border: 1px solid black;
}

// Eliminate spacing between headers and paragraphs
div.projects, div.music, div.video {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  h4 {
    margin-top: 5px;
  }

  p {
    margin-top: 0;
  }

  #music-content, #video-content, #projects-content {
    display: none;
  }
}


$zen-column-count: 3;
$zen-gutter-width: 0;


/* Zen grids layout */
.container {
  @include zen-grid-container;
  // @include zen-grid-background();
}

.music, .video, .projects {
  @include black-border;
  // font-family: "Gill Sans";

}

.projects {
  @include zen-grid-item(2, 1);
  @include black-border;
  border-right-style: none;
  border-bottom-style: none;
}

.music-video {
  @include zen-grid-item(1, 3);
  // @include zen-clear();
  // @include zen-grid-item(2, 1);
  // border-bottom-style: solid;
}


h1#splash-header {
  color: $primary-color;
  transform: rotate(-2deg);
  // text-align: center;
  padding-left: 20px;
  margin: none;
  a {
    color: $primary-color;
    text-decoration: none;
    // padding-left: inherit;
  }
}

.splash-name h3 {
  padding-left: 20px;
}

#music-header, #video-header, #projects-header {
  cursor: pointer;
}

.video {
  border-top-style: none;
}


// .video {
//   @include zen-clear();
//   @include zen-grid-item(1, 3);
// }

.social {
  @include zen-clear();
  @include zen-grid-item(3, 1);
  @include black-border();
  // border-right-style: none;
  // border-bottom-style: none;
}


.music, .video, .projects, .social {
  padding-left: 10px;
  padding-right: 10px;
}

.music, .video {
  // border-left-style: none;
}
