.square {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 1;

  // Account for spacing between headers and squares
  h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }
  h2, p { margin-top: 0; }
  h4 { margin-top: 5px; }

  .square-content {
    visibility: hidden;
    width: 400px;
    height: 400px;
  }
}

h1.splash-header {
  color: $primary-color;
  transform: rotate(-2deg);
  padding-left: 20px;
  margin: none;
}

// Cursor classes
.nw-resize {
  cursor: nw-resize;
}
.se-resize {
  cursor: se-resize;
}


// Eliminate double border effect between music and video
#music, #video {
  margin-top: -1px;
}
.border-on-top {
  z-index: 5;
}
