// there may be a better way to deal with padding than
// simply overwriting zen's padding but its ok for now

@mixin black-border {
  border: 1px solid black;
}

// Eliminate spacing between headers and paragraphs
div#projects, div#music, div#video {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
  }

  h4 {
    margin-top: 5px;
  }

  p {
    margin-top: 0;
  }

  #music-content, #video-content, #projects-content {
    // display: none;
    visibility: hidden;
    width: 400px;
    height: 400px;
  }
}


#projects, #music, #video {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
}


h1#splash-header {
  color: $primary-color;
  transform: rotate(-2deg);
  padding-left: 20px;
  margin: none;
}

.nw-resize {
  cursor: nw-resize;
}

.se-resize {
  cursor: se-resize;
}


// Eliminate double border effect between music and video
#music, #video {
  margin-top: -1px;
}
